<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard" data-color="blue" id="wizardProfile">
                        <form action="" method="">
                            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                            <div class="card-header text-center">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button mat-raised-button type="button"
                                            [routerLink]="['/quality/corrective-actions/list']"
                                            class="btn btn-round btn-full-round pull-left" matTooltip="Volver"
                                            [matTooltipPosition]="'above'">
                                            <i class="material-icons">arrow_back</i>
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 #title class="card-title">Planificar Acción Correctiva</h3>
                                        <!-- <h5 class="card-description">El rol servirá para dar permisos en la aplicación.</h5> -->
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-navigation">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#teamgroup" data-toggle="tab" role="tab">
                                            Grupo de Trabajo
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#causeanalysis" data-toggle="tab" role="tab">
                                            Análisis de Causa
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#actionplan" data-toggle="tab" role="tab">
                                            Plan de Acción
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#evidences" data-toggle="tab" role="tab">
                                            Evidencias de AC
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div #wizard class="card-body">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="teamgroup">
                                        <app-edit-workgroup [usersSectorPlant]="users"
                                            [usersArray]="correctiveAction.userCorrectiveActions"
                                            (usersOutput)="submitWorkGroup($event)">

                                        </app-edit-workgroup>
                                    </div>

                                    <div class="tab-pane" id="causeanalysis">
                                        <label for="">
                                            <span class="evidence-span">Diagrama de Ishikawa</span>
                                        </label>
                                        <app-fishbone [categoriesFishbone]="fishboneCategories"
                                            [correctiveActionID]="correctiveActionID"
                                            [correctiveActionFishbone]="correctiveAction.correctiveActionFishbone"
                                            [rootReason]="correctiveAction.rootReason"
                                            (onFishboneDataUpdated)="submitFishbone($event)">
                                        </app-fishbone>
                                    </div>

                                    <div class="tab-pane" id="actionplan">
                                        <label for="">
                                            <span class="evidence-span">Agregar tareas a la Acción Correctiva</span>
                                        </label>
                                        <app-action-plan [correctiveAction]="correctiveAction"
                                            (outputSubmitDatesAndImpact)="submitDatesAndImpact($event)"
                                            (outputSubmitImpact)="submitImpact($event)">
                                        </app-action-plan>
                                    </div>

                                    <div class="tab-pane" id="evidences">
                                        <label for="">
                                            <span class="evidence-span">Evidencias de la Acción Correctiva</span>
                                        </label>
                                        <div class="row evidence-margin">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="col-md-8 offset-md-2 col-sm-12">
                                                        <app-upload-large-files
                                                            [_attachments]="_correctiveActionsEvidences"
                                                            [_newAttachments]="_newAttachments">
                                                        </app-upload-large-files>
                                                    </div>
                                                    <div>
                                                        <button mat-raised-button type="button"
                                                            class="btn btn-separator btn-round btn-info btn-full-round pull-right"
                                                            matTooltip="Guardar" [matTooltipPosition]="'above'"
                                                            (click)="saveEvidence()">
                                                            <i class="material-icons">save</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card-footer">
                                <div class="mr-auto">
                                    <button name="previous" mat-raised-button type="button"
                                        class="btn btn-previous btn-fill btn-default btn-wd disabled btn-separator btn-round btn-info btn-full-round pull-right"
                                        matTooltip="Anterior" [matTooltipPosition]="'above'" (click)="scrollTop()">
                                        <i class="material-icons">arrow_back</i>
                                    </button>
                                </div>
                                <div class="ml-auto">
                                    <button name="next" id="next_button" mat-raised-button type="button"
                                        class="btn btn-next btn-fill btn-info btn-wd disabled btn-separator btn-round btn-info btn-full-round pull-right"
                                        matTooltip="Siguiente" [matTooltipPosition]="'above'" (click)="scrollTop()">
                                        <i class="material-icons">arrow_forward</i>
                                    </button>
                                    <button name="finish" (click)="generateAC()" style="display: none; opacity: 1;"
                                        mat-raised-button type="button"
                                        class="btn btn-finish btn-fill btn-info btn-wd disabled btn-separator btn-round btn-info btn-full-round pull-right"
                                        matTooltip="Generar AC" [matTooltipPosition]="'above'">
                                        <i class="material-icons">gavel</i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>
</div>