<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://mstech720.sharepoint.com/">
            MS Technologies
          </a>
        </li>
        <li>
          <a href="https://mstech720.sharepoint.com/">
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
        Copyright &copy; 2018 <a href="https://mstech720.sharepoint.com/" target="_blank">MS Technologies.</a> Todos los derechos reservados.
      </div>
  </div>
</footer>
