<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Aspecto {{aspect?.title}}</h4>
                        <p class="card-category">{{isEdit ? 'Editar hallazgo': 'Añadir hallazgo'}}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="findingForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea formControlName="description" matInput
                                            placeholder="Descripción"></textarea>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-select formControlName="findingType" placeholder="Tipo de hallazgo">
                                            <mat-option *ngFor="let findingType of findingTypes"
                                                [value]="findingType.id">
                                                {{findingType.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>


                            <button name="approve" mat-raised-button type="button"
                                [routerLink]="['/quality/audits',auditId,'report']"
                                class="btn btn-separator btn-round btn-full-round pull-left" matTooltip="Volver"
                                [matTooltipPosition]="'above'">
                                <i class="material-icons">arrow_back</i>
                            </button>
                            <button mat-raised-button type="submit" 
                                class="btn btn-separator btn-round btn-info btn-full-round pull-right"
                                matTooltip="{{isEdit ? 'Guardar' : 'Agregar'}}" [matTooltipPosition]="'above'">
                                <i class="material-icons">done</i>
                            </button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>