.centerFields{
    text-align: center;
}

.inProcessFinding{
  background-color: #dadada !important;
}

#col-0 {
  width: 68px;
}

#col-1 {
  width: 133px;
}

#col-2 {
  width: 108px;
}

#col-3 {
  width: 98px;
}

#col-4 {
  width: 146px;
}

#col-5 {
  width: 140px;
}