.add-file-icon {
    color: #397fbb;
    cursor: pointer;
    vertical-align: bottom;
    margin-left: 15px;
}

.remove-file-icon {
    color: #d62121;
    cursor: pointer;
    vertical-align: bottom;
    margin-left: 15px;
    margin-right: 15px;
}

.evidences-container {
    margin-bottom: 40px;
}

.evidences-icon-container {
    margin-bottom: 20px;
}

.file-container {
    margin-top: 10px;
}