<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="card">
                  <div  class="card-header card-header-info">
                      <h4 class="card-title">Hallazgo</h4>
                      <p class="card-category">Editar Hallazgo Aprobado</p>
                  </div>
                  
                  <div class="card-body">
                      <form [formGroup]="approveFindingForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Estado" formControlName="findingState" type="text">
                                  </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Fecha de creación" formControlName="creationDate" type="date">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" 
                                        cdkAutosizeMaxRows="8" placeholder="Descripción" formControlName="description" type="text">
                                        </textarea>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Planta de emisión" formControlName="plantEmisor">
                                          <mat-option *ngFor="let plantEmisor of allPlants" [value]="plantEmisor.plantID">
                                              {{plantEmisor.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Sector de emisión" formControlName="sectorEmisor">
                                          <mat-option *ngFor="let sectorEmisor of sectorEmisors" [value]="sectorEmisor.id">
                                              {{sectorEmisor.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Planta de tratamiento" id="treatmentPlant" (selectionChange)="changeSelectionTreatment($event.value)" formControlName="plantTreatment">
                                          <mat-option *ngFor="let plantTreatment of allPlants" [value]="plantTreatment.plantID">
                                              {{plantTreatment.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Sector de tratamiento" (selectionChange)="changeSelectionSectorTreatment($event.value)" formControlName="sectorTreatment">
                                          <mat-option *ngFor="let sectorTreatment of sectorTreatments" [value]="sectorTreatment.id">
                                              {{sectorTreatment.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Planta de ubicación" id="treatmentPlant" (selectionChange)="changeSelectionLocation($event.value)" formControlName="plantLocation">
                                          <mat-option *ngFor="let plantLocation of allPlants" [value]="plantLocation.plantID">
                                              {{plantLocation.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Sector de ubicación" formControlName="sectorLocation">
                                          <mat-option *ngFor="let sectorLocation of sectorLocations" [value]="sectorLocation.id">
                                              {{sectorLocation.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>





                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Usuario responsable" formControlName="responsibleUser">
                                          <mat-option *ngFor="let responsibleUser of responsibleUsers" [value]="responsibleUser.id">
                                              {{responsibleUser.name}} {{responsibleUser.surname}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Tipo de hallazgo" formControlName="findingType">
                                          <mat-option *ngFor="let findingType of findingTypes" [value]="findingType.id">
                                              {{findingType.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput [matDatepicker]="picker" formControlName="expirationDate" placeholder="Fecha de vencimiento" type="date" readonly>
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="8" placeholder="Acción de contención" formControlName="containmentAction" type="input"></textarea>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="8" placeholder="Análisis de causa" formControlName="causeAnalysis" type="input"></textarea>
                                  </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="8" placeholder="Comentario" formControlName="comment" type="input"></textarea>
                                  </mat-form-field>
                              </div>
                          </div>


                          <div *ngIf="comments.length > 0" class="row">
                              <div class="col-md-12">
                                  <div class="card">
                                      <div class="card-header">
                                          <h4 class="card-title">Comentarios anteriores</h4>
                                      </div>
                                      <div class="card-body">
                                          <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                                              <div *ngFor="let comment of comments; let i = index" [attr.data-index]="i" class="card card-plain">
                                                  <div class="card-header" role="tab" id="headingOne{{comment.findingCommentID}}">
                                                      <h5 class="mb-0">
                                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{comment.findingCommentID}}" [attr.aria-expanded]="i == 0 ? 'true' : false" attr.aria-controls="collapseOne{{comment.findingCommentID}}">
                                                              {{comment?.date}}
                                                              <i class="material-icons">keyboard_arrow_down</i>
                                                          </a>
                                                      </h5>
                                                  </div>
                                                  <div id="collapseOne{{comment.findingCommentID}}" class="collapse" [ngClass]="{show: i == 0}" role="tabpanel" attr.aria-labelledby="headingOne{{comment.findingCommentID}}">
                                                      <div class="card-body">
                                                          {{comment?.comment}}
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12 evidences-container">
                                  <app-upload-large-files
                                   
                                  [_attachments]="_findingEvidences"
                                  (updatedAttachmentsEmitter)="getAttachments($event)">
                                </app-upload-large-files>
                              </div>
                          </div>

                          <button mat-raised-button type="submit" class="btn btn-separator btn-round btn-info btn-full-round pull-right" matTooltip="Aceptar" [matTooltipPosition]="'above'">
                              <i class="material-icons">done</i>
                          </button>
                          <button mat-raised-button type="button" [routerLink]="['/quality/finding/list']" class="btn btn-separator btn-round btn-full-round pull-left" matTooltip="Volver" [matTooltipPosition]="'above'">
                              <i class="material-icons">arrow_back</i>
                          </button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>