<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Auditorías</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">


                            <p-table #dt [columns]="cols" [value]="audits" [paginator]="true" [rows]="10" dataKey="auditID">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: left" class="ui-helper-clearfix">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="Buscar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" class="btn-search">
                                        <button mat-raised-button type="button" *ngIf="canSchedule" class="btn btn-separator btn-round btn-info btn-full-round pull-right" matTooltip="Nueva Auditoría" [matTooltipPosition]="'above'" [routerLink]="['/quality/audits/schedule']">
                                                    <i class="material-icons">add</i>
                                                </button>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th id="col-{{i}}" *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                        </th>
                                        <th>
                                            Acciones
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td *ngFor="let col of columns" class="centerFields">
                                            <div *ngIf="col.header === 'Estado'">
                                                <button mat-raised-button class="btn btn-primary btn-just-icon btn-round no-manito" matTooltip={{rowData.auditStateName}} [ngStyle]="{'background-color':rowData.auditStateColour}">
                                                        </button>
                                            </div>
                                            <div *ngIf="col.header != 'Estado' && col.header != 'ID' && col.header != 'Normas'">
                                                {{col.header === 'Fecha Inicio' ? (rowData[col.field] === '0001-01-01T00:00:00' ? '- -' : rowData[col.field] | date: 'dd/MM/yyyy') : rowData[col.field]}}
                                            </div>
                                            <div *ngIf="col.header === 'ID'">
                                                <a matTooltip="Ver detalles" [matTooltipPosition]="'above'" [routerLink]="['/quality/audits/',rowData[col.field],'detail']">
                                                            {{ rowData[col.field] }}
                                                        </a>
                                            </div>
                                            <div *ngIf="col.header === 'Normas'">
                                                <div *ngFor="let _standard of rowData.auditStandards">
                                                    <a>{{_standard.standard.name}}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="centerFields">
                                            <div *ngIf="rowData?.auditState?.code === _auditStateScheduledCode?.code">
                                                <button mat-raised-button type="button" matTooltip="Reprogramar" *ngIf="canReSchedule" [routerLink]="['/quality/audits/schedule',rowData.auditID,'edit']" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </button>

                                                <button mat-raised-button type="button" matTooltip="Planificar" [matTooltipPosition]="'above'" *ngIf="canPlanning" class="btn btn-primary btn-link btn-sm btn-just-icon" [routerLink]="['/quality/audits/plan',rowData.auditID]">
                                                            <i class="material-icons">insert_invitation</i>
                                                        </button>
                                            </div>


                                            <div *ngIf="rowData?.auditState?.code === _auditStatePendingApproveCode?.code">
                                                <button mat-raised-button type="button" matTooltip="Reprogramar" *ngIf="canReSchedule" [routerLink]="['/quality/audits/schedule',rowData.auditID,'edit']" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </button>

                                                <button mat-raised-button type="button" [routerLink]="['/quality/audits/',rowData.auditID, 'approve']" *ngIf="canApporvePlanning" matTooltip="Aprobar o Rechazar" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">swap_vert</i>
                                                        </button>
                                            </div>

                                            <div *ngIf="rowData?.auditState?.code === _auditPlannedCode?.code || rowData?.auditState?.code == _auditReportRejectedCode?.code">

                                                <button mat-raised-button type="button" matTooltip="Reprogramar" *ngIf="canReSchedule" [routerLink]="['/quality/audits/schedule',rowData.auditID,'edit']" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                            </div>
                                            <div *ngIf="rowData?.auditState?.code === _auditPlannedCode?.code 
                                                                                                || rowData?.auditState?.code == _auditReportRejectedCode?.code
                                                                                                || rowData?.auditState?.code == _auditInitiatedCode?.code">
                                                <button mat-raised-button type="button" matTooltip="Agregar Hallazgos" *ngIf="canAddFindings" [routerLink]="['/quality/audits',rowData.auditID,'report']" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">youtube_searched_for </i>
                                                        </button>
                                            </div>

                                            <div *ngIf="rowData?.auditState?.code == _auditStateRejectedCode?.code">

                                                <button mat-raised-button type="button" matTooltip="Reprogramar" *ngIf="canReSchedule" [routerLink]="['/quality/audits/schedule',rowData.auditID,'edit']" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </button>

                                                <button mat-raised-button type="button" matTooltip="Replanificar" [matTooltipPosition]="'above'" *ngIf="canPlanning" class="btn btn-primary btn-link btn-sm btn-just-icon" [routerLink]="['/quality/audits/plan',rowData.auditID]">
                                                            <i class="material-icons">insert_invitation</i>
                                                        </button>

                                            </div>

                                            <div *ngIf="rowData?.auditState?.code == _auditStateScheduledCode?.code
                                                                                                || rowData?.auditState?.code == _auditStatePendingApproveCode?.code
                                                                                                || rowData?.auditState?.code == _auditPlannedCode?.code 
                                                                                                || rowData?.auditState?.code == _auditStateRejectedCode?.code">
                                                <button mat-raised-button type="button" matTooltip="Eliminar auditoría" *ngIf="canDelete" [matTooltipPosition]="'above'" (click)="deleteAudit(rowData)" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>

                                            </div>


                                            <div *ngIf="rowData?.auditState?.code == _auditReportPendingApprovalCode?.code">
                                                <button mat-raised-button type="button" *ngIf="canApproveReport" [routerLink]="['/quality/audits/',rowData.auditID, 'report','approve']" matTooltip="Aprobar o Rechazar Informe" [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">swap_vert</i>
                                                        </button>
                                            </div>

                                            <div *ngIf="rowData?.auditState?.code != _auditStateScheduledCode?.code && rowData?.auditState?.code != _auditStatePendingApproveCode?.code && canExport">

                                                <app-export-pdf [fileName]="fileName" [pdfHtml]="clickExportPdf(rowData.auditID)" [idContent]="'page-wrap'" [popoverTitle]="popoverTitle" [paperSize]="'a4'" [orientation]="'portrait'" [unit]="'mm'">
                                                </app-export-pdf>

                                            </div>

                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorleft" let-state>
                                    Mostrando registros del {{(state.page * state.rows) + 1}} al {{state.rows * (state.page + 1)}} de un total de {{state.totalRecords}} registros
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>